.git
.gitignore

**/__pycache__/
**/*.py[cod]
**/.pytest_cache/

**/.env
**/.env.*

front/
mobile/
execution/
extension/

server/corrections/
server/util/.frame_cache/
server/util/datasets/
server/util/image_list.csv
server/util/benchmark.py
server/util/data_loader.py

ngrok.exe
fetch_watcher.bat
fetch_watcher.ps1
