__pycache__/
/server/__pycache__
/server/service/__pycache__
/server/util/__pycache__
/server/corrections
/.env
/.env.example
/server/util/benchmark.py
**/.env
**/.env.example
/server/.env
/front
py.py
fetch_watcher.bat
fetch_watcher.ps1
ngrok.exe
/mobile/.idea
/mobile/*.iml
/mobile/.gradle
/mobile/local.properties
/mobile/.idea/caches
/mobile/.idea/libraries
/mobile/.idea/modules.xml
/mobile/.idea/workspace.xml
/mobile/.idea/navEditor.xml
/mobile/.idea/assetWizardSettings.xml
/mobile/.DS_Store
/mobile/build
/mobile/captures
/mobile/.externalNativeBuild
/mobile/.cxx
/mobile/local.properties
/server/util/datasets
/server/util/data_loader.py
/server/util/image_list.csv
/server/util/.frame_cache
/server/util/download_dataset.py
/server/util/prepare_hf_dataset.py

/datasets
/server/benchmark_predictions.csv
/server/benchmark_results.csv
/server/benchmark_truth.csv
/__pycache__
/.env
/.env.example
**/.env
**/.env.example
/corrections
/front
py.py

/routes/__pycache__

/execution/__pycache__
/execution/captures
